.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-image: linear-gradient(
    to right,
    #f95555,
    #fd604a,
    #ff6c3e,
    #ff7931,
    #ff8622,
    #ff951b,
    #ffa416,
    #fdb214,
    #fec525,
    #fdd738,
    #fce94b,
    #fbfb5f
  );
}
